#donation .header {
    margin: 0;
    padding: 20px 0;
}

#donation .header p {
    margin: 0;
    color: white;
}

#donation .contents .content {
    margin: 12px auto;
    max-width: 414px;
    background-color: white;
}

#donation .contents .content .content-header {
    overflow: hidden;
    padding: 16px 16px 16px 12px;
}

#donation .contents .content .content-header img {
    width: 36px;
}

#donation .contents .content .content-header .partner {
    margin-left: 44px;
}

#donation .contents .content .content-header .partner .partner-name {
    margin: 3px 0 1px 0;
    padding: 0;
    font-size: 14px;
    font-weight: bold;
    line-height: 1;
}

#donation .contents .content .content-header .partner .donation-status {
    font-size: 11px;
}

#donation .contents .content .description {
    padding: 4px 16px 16px 16px;
}

#donation .contents .content .description p {
    margin: 0;
}

#donation .contents .content .footer {
    padding: 16px 16px 16px 16px;
}

#donation footer {
    background-color: transparent;
    max-width: 414px;
    margin: 16px auto 24px auto;
    padding: 0 16px;
    font-size: 13px;
    border: none;
}

#modal-payment.modal.fade .modal-dialog {
    -webkit-transform: translate(0, 100%);
    -ms-transform: translate(0, 100%);
    -o-transform: translate(0, 100%);
    transform: translate(0, 100%);
    -webkit-transition: -webkit-transform 0.3s ease-out;
    -moz-transition: -moz-transform 0.3s ease-out;
    -o-transition: -o-transform 0.3s ease-out;
    transition: transform 0.3s ease-out;
}

#modal-payment.modal.in .modal-dialog {
    -webkit-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    transform: translate(0, 0);
}

#modal-payment .modal-dialog {
    position: absolute;
    bottom: 0;
    width: 100%;
    margin: 0px;
}

.modal-content .checkbox {
    font-size: 14px;
}

@media (min-width: 768px) {
    .modal-dialog {
        width: 100%;
        margin: 0 auto;
    }
    .modal-content {
        -webkit-box-shadow: none;
        box-shadow: none;
    }
    .modal-sm {
        width: 300px;
    }
}

@media (min-width: 992px) {
    .modal-lg {
        width: 900px;
    }
}

#modal-payment .btn-amount {
    width: 100%;
}

#modal-payment .btn-amount button {
    width: 33.33%;
}

#modal-payment .btn-amount button.active {
    background-color: #4e7bfa;
    color: white;
}

#modal-resident-number .form-resident-number {
    display: table;
    width: 100%;
}

#modal-resident-number .form-resident-number #input-resident-number-first {
    display: inline-table;
    width: 45%;
}

#modal-resident-number .form-resident-number #input-resident-number-last {
    display: inline-table;
    width: 50%;
}

#modal-resident-number .form-resident-number #input-dash {
    display: inline-table;
    width: 5%;
    text-align: center;
}