#toss-qr-gen .container {}

#toss-qr-gen .section {
    padding: 0 16px;
}

#toss-qr-gen .logo {
    margin: 0 auto 4px auto;
    font-size: 34px;
    color: #fff;
}

#toss-qr-gen .logo .i-logotype {
    font-size: 28px;
}

#toss-qr-gen #section-1 .introduction h1 {
    font-size: 2em;
    font-weight: lighter;
}

#toss-qr-gen #section-1 .introduction p {
    margin-bottom: 24px;
    font-size: 14px;
}

#toss-qr-gen .container-form {
    margin-top: 32px;
    padding: 32px 16px 48px;
}

#toss-qr-gen .container-form input {
    margin: 6px 0;
}

#toss-qr-gen .btn,
#toss-qr-gen input,
#toss-qr-gen select {
    border-radius: 3px;
}

#toss-qr-gen .btn-success {
    box-shadow: 0px 2px #40b59b;
}

#toss-qr-gen .btn-success:active {
    background-color: #40b59b;
}

#toss-qr-gen .btn-link {
    text-decoration: underline;
}

#toss-qr-gen .container .btn-link:hover {
    color: #40b59b;
}

#toss-qr-gen img.qrcode {
    display: block;
    margin: 0 auto;
    width: 100%;
    max-width: 360px;
}