.toss-tabs {
    background-color: #fff;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.15);
}

.toss-tabs .nav-item {
    -webkit-box-flex: 1;
    -webkit-flex: 1 1 100%;
    -ms-flex: 1 1 100%;
    flex: 1 1 100%;
    text-align: center;
}

.toss-tabs .nav-link {
    color: #333;
    padding: 0.75rem 0 0.55rem;
}

.toss-tabs .nav-item .active {
    color: #144ae1;
    border-bottom: 4px solid #4e7bfa;
}
