.modal-mask {
    position: fixed;
    z-index: 9998;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .5);
    display: table;
    transition: opacity .3s ease;
}

.modal-wrapper {
    padding: 16px 10px;
}

.modal-container {
    max-width: 540px;
    min-width: 300px;
    margin: 0px auto;
    background-color: #fff;
    border-radius: 4px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, .33);
    transition: all .3s ease;
    font-family: Helvetica, Arial, sans-serif;
}

.modal-header {}

.modal-header .btn {
    padding: 0 8px;
    float: right;
}

.modal-header h4 {
    margin: 0;
    font-size: 1.2em;
}

.modal-body {
    margin: 10px 0;
    font-size: 0.95em;
}

.modal-default-button {
    float: right;
}

.modal-body .list-group {
    border: none;
    margin: -12px -8px -4px;
}

.modal-body .list-group .list-group-item {
    border: none;
    border-radius: 0;
    padding: 16px 12px;
}
