.password-keyboard {
    margin: 0 -16px;
}

.password-keyboard .password-keyboard-input {
    text-align: center;
}

.password-keyboard .password-keyboard-input table {
    margin: 36px auto 24px;
}

.password-keyboard .password-keyboard-input table td.password-char {
    width: 40px;
    height: 32px;
    border-bottom: 2px solid #000;
}

.password-keyboard .password-keyboard-input table td.password-char .password-dot {
    margin: 0 auto 20px;
    width: 12px;
    height: 12px;
    border-radius: 6px;
    background-color: #000;
}

.password-keyboard .password-keyboard-input table td.password-char .password-letter {
    margin-top: -0.6em;
    font-size: 1.5em;
    line-height: 1.5em;
}

.password-keyboard .password-keyboard-input table td.password-margin {
    width: 8px;
}

.password-keyboard .password-keyboard-input table .glyphicon {
    font-size: 0.8em;
}

.password-keyboard .password-keyboard-keypad {
    position: fixed;
    bottom: 0;
    width: 100%;
}

.password-keyboard .password-keyboard-keypad table {
    width: 100%;
    text-align: center;
}

.password-keyboard .password-keyboard-keypad table td {
    background-color: #eaedf3;
    border: 1px solid #d6dbe7;
}

.password-keyboard .password-keyboard-keypad table.number td {
    width: 25%;
    font-size: 1.4em;
    line-height: 3em;
}

.password-keyboard .password-keyboard-keypad table.alphabet td {
    width: 14.254%;
    font-size: 1.2em;
    line-height: 1.9em;
}

.password-keyboard .password-keyboard-keypad table td a {
    display: inline-block;
    width: 100%;
    height: 100%;
    cursor: pointer;
}

.password-keyboard .password-keyboard-keypad table td .glyphicon {
    font-size: 0.8em;
}

.password-keyboard .password-keyboard-keypad #cta-keyboard {
    margin-bottom: 0;
    line-height: 3em;
    border-radius: 0;
    box-shadow: none;
}

.password-keyboard .btn-default {
    border: 1px solid #000;
    font-size: 0.8em;
}

.password-keyboard .choose-account {
    width: auto;
    max-width: 50%;
    height: auto;
    margin: 0 auto;
    padding: 4px 32px 4px 8px;
    border: 1px solid #000;
    font-size: 0.8em;
    line-height: 1.2em;
}

@media screen and (min-width: 480px) {
    .password-keyboard .password-keyboard-keypad {
        position: relative;
        width: 100%;
        margin-top: 72px;
    }
}