.nav-tabs {
    width: 100%;
    padding: 4px 4px 0;
    margin-bottom: 4px;
    background-color: #4e7bfa;
    border-bottom: none;
}

.nav-tabs li {
    display: table-cell;
    width: 1%;
    float: none;
    text-align: center;
    font-size: 1.5rem;
}

.nav-tabs li a {
    color: #dbe4fe;
}

.nav-tabs li a:hover {
    background-color: #7195fb;
    border: none;
}
