.signup-form .input-resident-number {
    display: table;
}

.signup-form .input-resident-number .input-birthdate {
    margin: 0;
    padding: 0;
    text-align: center;
    display: inline-table;
    width: 39%;
}

.signup-form .input-resident-number .input-one-char {
    margin: 0;
    padding: 0;
    display: inline-table;
    text-align: center;
    width: 12%;
    margin-right: 2%;
}

.signup-form .input-resident-number .input-dash {
    margin: 0;
    display: inline-table;
    text-align: center;
    width: 5%;
}

.signup-form .input-resident-number .input-middle-dot {
    margin: 0;
    display: inline-table;
    text-align: center;
    font-size: 16px;
    width: 7%;
}

.signup-form .input-resident-number .input-middle-dot .dot {
    margin: -0.6em auto 0;
    width: 6px;
    height: 6px;
    border-radius: 3px;
    background-color: #5c6476;
}
