#pages_wedding {
    background-color: #f5f5f5;
    background-image: url(assets/images/img_bg.png);
    padding: 8px;
}

#pages_wedding .container {
    background-color: #fff;
    max-width: 480px;
    padding-top: 12px;
    padding-bottom: 24px;
    border-radius: 6px;
    box-shadow: 0px 2px 5px 0px #999;
}

#pages_wedding .container .content {
    text-align: center;
}

#pages_wedding .container .content .profile-image {
    height: 86px;
    margin-top: 24px;
}

#pages_wedding .container .content .item-description h3,
#pages_wedding .container .content .item-description p,
#pages_wedding .container .content .item-description span {
    font-family: 'Iropke Batang', serif;
}

#pages_wedding .container .content h3 {
    font-size: 24px;
    margin-top: 20px;
    margin-bottom: 12px;
}

#pages_wedding .container .content .info {
    margin-top: 20px;
    font-size: 12px;
}

#pages_wedding .container .content .info span {
    display: block;
}

#pages_wedding .container .content .info-fee {
    margin-top: 16px;
}

#pages_wedding footer {
    padding: 24px 0 32px;
    border: none;
    background-color: transparent;
    text-align: center;
}